/*
=========================
        Fonts
=========================
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: 'Archivo Black', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

/*
=========================
        Body
=========================
*/

body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #040D12;
}

/*
=========================
        Navbar
=========================
*/
.navbar {
  background-color: #183D3D;
  overflow: hidden;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 0;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.navbar a:hover {
  color: #989898
}

.navbar a.active {
  background-color: #5C8374;
  color: rgb(255, 255, 255);
}

/*
=========================
        Form
=========================
*/
.formdiv {
  display: block;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

form {
  /* border: 2px solid white;
        border-radius: 20px; */
  padding: 2em 1em 2em 3em;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label {
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
}

span {
  color: #C34444;
}

::placeholder {
  color: rgba(255, 255, 255, 0.15);
}

/*FIELDS*/
#naam,
#email {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.646);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 400px;
  height: 35px;
  border-radius: 26px;
  border: none;
  background-color: #081922;
  padding: 6px 20px;
  border: 2px solid #040D12;
}

.half {
  display: inline-block;
  margin-right: 2em;
}

.half label {
  display: block;
  margin-bottom: -18px;
}

#telefoon,
#bedrijf {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.646);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 160px;
  height: 35px;
  border-radius: 26px;
  border: none;
  background-color: #081922;
  padding: 6px 20px;
}

/*Bericht veld*/
textarea {
  min-width: 26em;
  max-width: 26em;
  height: 16em;
  min-height: 4em;
  max-height: 20em;
  background-color: #081922;
  color: rgba(255, 255, 255, 0.646);
  padding: 12px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: none;
}

/*Verstuur knop*/
#submit {
  width: 18em;
  height: 3em;
  margin-left: 8.2em;
  margin-top: 2em;
  display: block;

  background-color: #183D3D;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.error-message {
  color: #C34444;
  font-size: 12px;
  margin-top: 5px;
}